@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.col-md-4 {
    -webkit-transition: transform 0.5s;
}

.col-md-4:hover {
    transform: scale(1.1)
}


.shopping-cart-animation {
    animation-name: enlarge;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
}

body {
    padding-top: 60px;
}


